<div class="header">
    Our Team
</div>

<section>
    <div class="team" style="--img: url(../../assets/images/jezreel.jpg);">
        <img src="../../assets/images/jezreel.jpg" alt="">
        <div class="info">
            <div class="name">Jezreel Kosasih</div>
            <div class="title">CEO and Founder</div>
            <div class="social">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-snapchat-ghost"></i>
            </div>
        </div>
    </div>
    <div class="team" style="--img: url(../../assets/images/vincent.jpg)">
        <img src="../../assets/images/vincent.jpg" alt="">
        <div class="info">
            <div class="name">Vincent Gunawan</div>
            <div class="title">Co-Founder</div>
            <div class="social">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-snapchat-ghost"></i>
            </div>
        </div>
    </div>

    <div class="team" style="--img: url(../../assets/images/rommy.jpg)">
        <img src="../../assets/images/rommy.jpg" alt="">
        <div class="info">
            <div class="name">Rommy Kusuma Jaya</div>
            <div class="title">Project Manager</div>
            <div class="social">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-snapchat-ghost"></i>
            </div>
        </div>
    </div>

    <div class="team" style="--img: url(../../assets/images/richie.jpg)">
        <img src="../../assets/images/richie.jpg" alt="">
        <div class="info">
            <div class="name">Richie Darmawan Oey</div>
            <div class="title">Marketing Manager</div>
            <div class="social">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-snapchat-ghost"></i>
            </div>
        </div>
    </div>

</section>