<div class="overlay"></div>
<form [formGroup]="dataForm" class="box">
       <div class="header">
           <h4>Login To Your Account</h4>
           <p>Welcome to Delicioso Resto, You can custom Delicoso Resto_Bot In Here!!</p>
       </div>
       <div class="login-area">
           <input type="text" class="username" placeholder="Username"  formControlName="email">
           <input type="password" class="password" placeholder="Password"  formControlName="password">
           <button type="submit" class="submit" (click)="reset()">Login</button> 
       </div>
    </form>


