section {
  min-height: 100vh;
  padding: 1rem 10%;
  padding-top: 8.5rem;
}

.heading {
  text-align: center;
  font-size: 4rem;
  padding: 0 .5rem;
  color: #333;
}

.heading span {
  color: var(--yellow);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: #fff;
  padding: 1.5rem 10%;
  box-shadow: 0 .3rem 2rem rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
  flex-direction: row;
}

header .logo img {
  height: 5rem;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .navbar ul li {
  margin-left: 3rem;
}

header .navbar ul li a {
  font-size: 1.7rem;
  color: #666;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: var(--yellow);
}

header #menu-bar {
  font-size: 3rem;
  color: #666;
  cursor: pointer;
  display: none;
}

@media (max-width:991px) {

  .home::before,
  .home::after {
    display: none;
  }

}

@media (max-width:768px) {


  header #menu-bar {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: 8rem;
    left: 0;
    width: 100%;
    background: var(--yellow);
    border-top: .2rem solid rgba(0, 0, 0, .1);
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }

  header .navbar ul {
    flex-flow: column;
    padding: 2rem;
  }

  header .navbar ul li {
    margin: 1.5rem;
    width: 100%;
  }

  header .navbar ul li a {
    display: block;
    color: #fff;
    padding-left: 2rem;
    border-left: .2rem solid #fff;
    font-size: 2rem;
  }

  header .navbar ul li a:hover,
  header .navbar ul li a.active {
    color: #333;
    border-color: #333;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    transform: scaleY(1);
    opacity: 1;
  }

  .home .content {
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .order .row .image {
    display: none;
  }

}

@media (max-width:500px) {
  section {
    padding: 1rem 5%;
    padding-top: 8.5rem;
  }
}
