
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../assets/images/study-group.jpg">
                    <h3>/mulai</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>mulai adalah salah satu pada fitur bot Delicioso Bot sebagai awalan untuk memulai percakapan antar user
                        dengan bot. Mulai ini menampilkan semua list fitur yang ada dan website dari Delicioso Restaurant.
                    </p>
                    
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../assets/images/study-group.jpg">
                    <h3>/menu</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>menu adalah salah satu pada fitur bot Delicioso Bot untuk menampilkan menu makanan yang 
                        tersedia dalam Delicioso Restaurant.</p>
                    
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../assets/images/study-group.jpg">
                    <h3>/time</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>time adalah salah satu pada fitur bot Delicioso Bot untuk menampilkan tanggal dan waktu 
                        terkini atau terbaru.</p>
                    
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../assets/images/study-group.jpg">
                    <h3>/alamat</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>menu adalah salah satu pada fitur bot Delicioso Bot untuk menampilkan alamat dari semua outlet yang
                        tersedia dari Delicioso Restaurant.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../assets/images/study-group.jpg">
                    <h3>/info</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>info adalah salah satu pada fitur bot Delicioso Bot untuk menampilkan informasi mengenai user yang berkomunikasi
                        dengan Delicioso Bot Restaurant.</p>
                </div>
            </div>
        </div>
    </div>


